/* scroll bar */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #141414;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1e1e1e;
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #282828;
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb:active {
    background-color: #323232;
    transition: all 0.2s;
}
/* body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0f0f0f;
    color: white;
    margin: 0;
}
/* header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #191919;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.header h3 {
    font-weight: 500;
}
.header span {
    color: #ffc107;
}
.searchBar {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}
.searchBar input[type=text] {
    background-color: transparent;
    border: 0.5px solid gray;
    outline: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s;
}
.searchBar input[type=text]:hover {
    border: 0.5px solid lightgray;
    transition: all 0.2s;
}
.searchBar input[type=text]:focus {
    border: 0.5px solid white;
    transition: all 0.2s;
}
.searchBar input[type=submit] {
    background-color: #1e1e1e;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.2s;
}
.searchBar input[type=submit]:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.searchBar input[type=submit]:active {
    background-color: #2d2d2d;
    transition: all 0.2s;
}
.searchBar input[type=submit]:disabled {
    background-color: #dc3545;
    opacity: 0.6;
    cursor: default;
    transition: all 0.2s;
}
.searchBar button {
    background-color: #1e1e1e;
    border: 0;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.2s;
}
.searchBar button:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.searchBar button:active {
    background-color: #2d2d2d;
    transition: all 0.2s;
}
/* background */
.background {
    position: fixed;
    background-image: url("./Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}