/* list container */
.listContainer {
    position: absolute;
    top: 120px;
}
.main .semiHeader h3 {
    margin: 20px;
    font-weight: 500;
}
.list {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 5px;
    flex-wrap: wrap;
}
.item {
    background-color: #191919;
    border-radius: 5px;
    border: 5px;
    padding: 10px;
    border: 0;
    width: 300px;
    transition: all 0.2s;
}
.item:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.item:active {
    background-color: #2d2d2d;
    transition: all 0.2s;
}
.item img {
    border-radius: 5px;
    margin: 10px;
}
.item .info {
    margin: 10px;
}
.item .info p {
    margin: 0;
    margin-top: 10px;
}
.item .info a {
    margin: 0;
    margin-top: 30px;
    color: #0d6efd;
}
.item .info .title {
    font-size: 20px;
}
.item .info .description {
    color: gray;
}
.item .info .type {
    color: gray;
}
.item .info .rank {
    color: #ffc107;
}
.item .info .year {
    color: #0d6efd;
}