/* scroll bar */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #141414;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1e1e1e;
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #282828;
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb:active {
    background-color: #323232;
    transition: all 0.2s;
}
/* body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0f0f0f;
    color: white;
    margin: 0;
}
/* header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #191919;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.header h3 {
    font-weight: 500;
}
.searchBar {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}
.searchBar input[type=text] {
    background-color: transparent;
    border: 0.5px solid gray;
    outline: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s;
}
.searchBar input[type=text]:hover {
    border: 0.5px solid lightgray;
    transition: all 0.2s;
}
.searchBar input[type=text]:focus {
    border: 0.5px solid white;
    transition: all 0.2s;
}
.searchBar input[type=submit] {
    background-color: transparent;
    border: 0.5px solid gray;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s;
}
.searchBar input[type=submit]:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.searchBar input[type=submit]:active {
    background-color: #2d2d2d;
    transition: all 0.2s;
}
/* list container */
.listContainer {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
}
.main .semiHeader h3 {
    margin: 20px;
    font-weight: 500;
}
.list {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 5px;
    flex-wrap: wrap;
}
.item {
    background-color: #191919;
    border-radius: 5px;
    border: 5px;
    padding: 10px;
    border: 0;
    width: 300px;
}
.item img {
    border-radius: 5px;
    width: 100%;
}
.item .info {
    margin: 10px;
}
.item .info p {
    margin: 0;
    margin-top: 5px;
}
.item .info .title {
    font-size: 20px;
}
.item .info .description {
    color: gray;
}
.item .info .type {
    color: gray;
}
.item .info .rank {
    color: #ffc107;
}
.item .info .year {
    color: #0d6efd;
}